@model CollegeSystemSystem.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Course
            </th>
            <th>
                Number of Students
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (Subject subject in Model.Subjects)
        {
            <tr>

                <td>
                    @subject.SubjectName
                </td>
                <td>
                    @subject.Course.CourseName
                </td>
                <td>
                    @subject.Course.Students.Count()
                </td>

            </tr>

        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
